body {
  margin: 0px;
}
.center-aligned {
  display: box;
  display: flex;
  box-align: center;
  align-items: start;
  box-pack: center;
  justify-content: start;

}
.background-image {
  position: relative;
}
.text {
  position: absolute;
}
#get-quote-link {
  color: black;
  font-weight: bold;
}
#main-paragraph {
  font-size: larger;
  font-weight: 500;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#content {
  padding-bottom: 165px;    /* Footer height */
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 165px;
}
#footer h4 {
  font-size: large;
  font-weight: bold;
}
#copyright p {
  color: black;
  font-size: smaller;
}